<div class="main">
    <div class="container" [ngClass]="{ 'sign-up-mode': isSignUpMode }">
      <div class="forms-container">
        <div class="signin-signup">
          
          <!-- Sign-in Form -->
          <form  class="sign-in-form" [formGroup]="form" (ngSubmit)="onSubmit()">
            <h2 class="title">Sign in</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input 
                type="text" 
                placeholder="Enter Username" 
                formControlName="username"
                [class.error]="hasDisplayableError('username') && form.controls['username'].hasError('required')"
              />
            </div>          
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" placeholder="Enter Password" formControlName="password"/>
            </div>
            <input type="submit" value="Login" class="btn solid" />
            <p class="social-text">Or Sign in with social platforms</p>
            <div class="social-media">
              <a href="#" class="social-icon">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-google"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div>
          </form>
          
          <!-- Sign-up Form -->
          <form action="#" class="sign-up-form">
            <h2 class="title">Sign up</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="Username" required />
            </div>
            <div class="input-field">
              <i class="fas fa-envelope"></i>
              <input type="email" placeholder="Email" required />
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" placeholder="Password" required />
            </div>
            <input type="submit" class="btn" value="Sign up" />
            <p class="social-text">Or Sign up with social platforms</p>
            <div class="social-media">
              <a href="#" class="social-icon">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-google"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div>
          </form>
        </div>
      </div>
  
      <div class="panels-container">
        <!-- Left Panel -->
        <div class="panel left-panel">
          <div class="content">
            <h3>Welcome to joining</h3>
            <p>Welcome to our HR_ work platform with secure and easy maintaining work</p>
            <button class="btn transparent" (click)="toggleSignUp()">Sign up</button>
          </div>
          <img src="https://i.ibb.co/6HXL6q1/Privacy-policy-rafiki.png" class="image" alt="" />
        </div>
  
        <!-- Right Panel -->
        <div class="panel right-panel">
          <div class="content">
            <h3>Register With Us!</h3>
            <p>Joining Today to maintain work easy and secure of your work</p>
            <button class="btn transparent" (click)="toggleSignIn()">Sign in</button>
          </div>
          <img src="https://i.ibb.co/nP8H853/Mobile-login-rafiki.png" class="image" alt="" />
        </div>
      </div>
    </div>
  </div>
  