.navbar{
    background-color:  #058ea7;
    margin-top: 105px;
}
nav a{
    padding-left: 250px;
}
.full_box{  
    background-color: #011a1f;
    padding: 40px 20px;
    
}

.btn{
    height: 35px;
    border-radius: 25px;
    
}
