
    <nav class="navbar navbar-light">
        <div class="container-fluid">
          <a class="navbar-brand text-dark font-weight-bold">ToDo Task of Work</a>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </nav>

    <div class="container-fluid mt-3 full_box">
        <div class="d-flex justify-content-around pt-3">
          <h2 class="font-weight-bold text-xl text-white mt-2">Manage ToDo Task</h2>
          <button class="btn btn-icon  btn-primary mt-2" (click)="openSlidePanel()">
            <i class="bi bi-plus"></i>
            Add ToDo
          </button>
        </div>
    
      <div class="p-4 mt-3 bg-white shadow">
        @for(item of todos; track $index) {
          <app-to-do-card [type]="item.status"  [todo]="item"></app-to-do-card>         
        }      
      </div>
    </div>

    <app-slide-panel
    [headerText]="'Task Details'"
    [isOpen]="isSlidePanelOpen"
    (onClose)="onCloseSlidePanel()"
  >
    <form [formGroup]="todoForm" (ngSubmit)="onSubmit()" class="p-3">
      <div class="form-group mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" id="title" class="form-control"
          [class] = "{'invalid': todoForm.get('title')?.hasError('required') && todoForm.get('title')?.touched,'valid':todoForm.get('title')?.valid}"
          placeholder="Title"
          formControlName="title">
          @if(todoForm.get('title')?.hasError('required') && todoForm.get('title')?.touched){
            <span class="form-error text-danger">
              Title is required

            </span>
          }
      </div>
      <div class=" form-group mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea name= "" rows="10" id="description" class="form-control" formControlName="description"
          [class.is-invalid]="todoForm.get('description')?.invalid && todoForm.get('description')?.touched"
        ></textarea>
        @if (todoForm.get('description')?.hasError('required') && todoForm.get('description')?.touched){
          <span class="form-error text-danger">
            Description is required

          </span>
        }
      </div>
      <div class="form-group mb-3">
        <label for="status" class="form-label">Status</label>
        <select id="status" class="form-select" formControlName="status">
          @for(item of todoStatus; track $index){
            <option [value]="item">{{item}}</option>
          }
        </select>
        @if (todoForm.get('status')?.hasError('required') && todoForm.get('status')?.touched){
          <span class="form-error text-danger">
            status is required
          </span>
        }
      </div>
  
      <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-success me-2">Submit</button>
        <button type="button" class="btn btn-secondary" (click)="onCloseSlidePanel()">Cancel</button>
      </div>
    </form>
  </app-slide-panel>
  

    <router-outlet></router-outlet>
    
    
