<main>
  <div class="container">
    <div class="row">
      <!-- Left Div: Account Details Form -->
      <div class="col-md-6">
        <form>
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Account Number</mat-label>
            <input matInput [(ngModel)]="accountDetails.accountNumber" name="accountNumber" />
          </mat-form-field>
  
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Bank Name</mat-label>
            <input matInput [(ngModel)]="accountDetails.bankName" name="bankName" />
          </mat-form-field>
  
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Branch Name</mat-label>
            <input matInput [(ngModel)]="accountDetails.branchName" name="branchName" />
          </mat-form-field>
  
          <button mat-raised-button color="primary" (click)="submitAccountDetails()">Submit</button>
          <button mat-raised-button (click)="resetForm()">Reset</button>
        </form>
      </div>
  
      <!-- Right Div: Working Days Add -->
      <div class="col-md-6">
        <form>
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Working Days</mat-label>
            <input matInput [(ngModel)]="workingDays" name="workingDays" />
          </mat-form-field>
  
          <button mat-raised-button color="primary" (click)="addWorkingDays()">Add Working Days</button>
        </form>
      </div>
    </div>
  
    <!-- Salary Table -->
    <div class="row mt-4">
      <table mat-table [dataSource]="salaryData" class="mat-elevation-z8">
        <ng-container matColumnDef="basicSalary">
          <th mat-header-cell *matHeaderCellDef> Basic Salary </th>
          <td mat-cell *matCellDef="let element"> {{element.basicSalary}} </td>
        </ng-container>
  
        <ng-container matColumnDef="deduction">
          <th mat-header-cell *matHeaderCellDef> Deduction </th>
          <td mat-cell *matCellDef="let element"> {{element.deduction}} </td>
        </ng-container>
  
        <ng-container matColumnDef="bonus">
          <th mat-header-cell *matHeaderCellDef> Bonus </th>
          <td mat-cell *matCellDef="let element"> {{element.bonus}} </td>
        </ng-container>
  
        <ng-container matColumnDef="allowances">
          <th mat-header-cell *matHeaderCellDef> Allowances </th>
          <td mat-cell *matCellDef="let element"> {{element.allowances}} </td>
        </ng-container>
  
        <ng-container matColumnDef="workingDays">
          <th mat-header-cell *matHeaderCellDef> Working Days </th>
          <td mat-cell *matCellDef="let element"> {{element.workingDays}} </td>
        </ng-container>
  
        <ng-container matColumnDef="salaryStatus">
          <th mat-header-cell *matHeaderCellDef> Status </th>
          <td mat-cell *matCellDef="let element"> 
            <span [ngClass]="{'status-get': element.salaryStatus === 'Get', 'status-pending': element.salaryStatus === 'Pending', 'status-sent': element.salaryStatus === 'Sent'}">
              {{element.salaryStatus}}
            </span>
          </td>
        </ng-container>
  
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="editSalary(element)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="deleteSalary(element)">
              <mat-icon>delete</mat-icon>
            </button>
            <button mat-icon-button (click)="saveSalary(element)">
              <mat-icon>save</mat-icon>
            </button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
  

</main>
<div>
  <router-outlet></router-outlet>
</div>