<div class="main container">
  <div class="row">
    <div class="ml-2">
      <form class="d-flex">
        <input class="form-control me-2 search" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>


  <div class="container  mt-4">
    <div class="row justify-content-end">

      <div class="col-4">
        <button class="btn btn-dark mb-3" (click)="goToHolly()">
          HollyDay Details
        </button>
      </div>
    </div>
  </div>

  <div class="container mt-4">
    <div class="row">
      <div class="col-12">
        <div class="card card-default shadow rounded">
          <div class="card-header text-center">
            <h4>Leave Information</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <div class="text-center">
                  <h5 class="text-info">Leave Apply And Response Information in our Work</h5>
                </div>
              </div>
              <div class="col-6">
                <button class="btn btn-default">
                  <img width="24" height="24" src="https://img.icons8.com/color/48/leaving-queue.png" alt="leaving-queue"/>
                </button>
                <ul class="tabs-container">
                  <li (click)="onTabClick('Personal Details')" [class.active]="activeTab == 'Personal Details'" class="tab-link">Leave Apply here</li>
                  <li (click)="onTabClick('Account Details')" [class.active]="activeTab == 'Account Details'" class="tab-link">My Leave Response</li>
                  <li (click)="onTabClick('Other Details')" [class.active]="activeTab == 'Other Details'" class="tab-link">Leave Balance</li>
                </ul>
                <div *ngIf="activeTab == 'Personal Details'" class="w-100">
                  Personal Details
                </div>
                <div *ngIf="activeTab == 'Account Details'" class="w-100">
                  Account Details
                </div>
                <div *ngIf="activeTab == 'Other Details'" class="w-100">
                  Other Details
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>

  <div>
    <router-outlet></router-outlet>
  </div>