.main {
    margin-top: 90px;
    background-color: rgb(149, 169, 174);   
}

.search {
   
    background-color: antiquewhite;
    margin-top: 25px;
}

.tabs-container {
    background: #eee;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    height: 55px;
    border-bottom: 1px solid;
    width: 100%;
}

.tabs-container .tab-link {
    width: 33.33%;
    position: relative;
    height: 100%;
    padding: 10px;
    float: left;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.tabs-container .tab-link:hover {
    background-color: black;
    color: white;
}

.active {
    border-bottom: 2px solid #28a745;
    transition: ease-in-out .3s;
}
.L{
    font-size: 1.2rem;
    font-weight: bold;
  }
  
.L {
    font-size: 1.2rem;
    font-weight: bold;
  }
  

.badge {
    font-size: 1.1rem;
    padding: 5px 15px;
    border-radius: 20px;
  }

  