header {
  position: fixed;
  display: flex;
  width: 100%;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-align-items: center;
  align-items: center;
  background-color: #058ea7;
  padding-left: 350px;
  z-index: 1;
}

.navs {
  display: flex;
  gap: 2rem;
  margin: 0rem 2rem;
  justify-content: center;
  align-items: center;
}

.logback {
  border-radius: 20px;
  padding: 10px 20px;
  font-weight: bold;
  transition: background 0.3s;
  margin-left: 50px;
  margin-top: 25px;
}

.logback:hover {
  background: #f0f0f0;
}

mat-icon {
  font-size: 20px;
}
.dropdown-wrapper {
  position: relative;
}

.dropdown-toggle {
  display: none;
}


/* Toogle dropdown menu */
.dropdown-menu--display {
  display: none;
}

.dropdown-toggle:checked + .dropdown-label + .dropdown-menu--display {
  display: block;
}

/* Dropdown list */
.dropdown-list-icon {
  font-size: 1.25rem;
}

.dropdown-list {
  list-style-type: none;
  width: 12rem;
  
}

.dropdown-list > li {
  padding: 1.25rem 1rem;
  display: flex;
  display: -webkit-flex;
  -webkit-align-items: center;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  transition: all 100ms ease-in-out;
}

.dropdown-list > li:hover {
  border-left: 5px solid var(--emerald-500);
  background-color: var(--gray-800);
}

.dropdown-list > li > span {
  font-size: 1rem;
}


/* For large screens (PCs and large laptops, 1200px and above) */
@media (min-width: 1200px) {
  header {
    padding: 1rem 1rem;
  }

  .navs {
    gap: 3rem;
    margin: 0 4rem;
  }

  .dropdown-menu {
    top: 5rem;
    left: -8rem;
  }

  .dropdown-list {
    width: 15rem;
  }
}

@media (max-width: 1199px) and (min-width: 768px) {
  header {
    padding: 1rem 1rem;
  }

  .navs {
    gap: 2rem;
    margin: 0 2rem;
  }

  .dropdown-menu {
    top: 5rem;
    left: -5rem;
  }

  .dropdown-list {
    width: 13rem;
  }
}

@media (max-width: 767px) {
  header {
    padding: 1rem 1rem;
    flex-direction: column;
    align-items: flex-start;
   
  }

  .navs {
    flex-direction: column;
    gap: 1rem;
    margin: 0;
  }

  .dropdown-menu {
    top: 4rem;
    left: 0;
    width: 100%; 
    border-radius: 0; 
  }

  .dropdown-list {
    width: 100%;
  }

  .dropdown-list > li {
    justify-content: flex-start;
    padding: 1rem;
  }

  ion-icon[name="notifications-outline"] {
    font-size: 1.5rem;
  }

  .dropdown-label {
    height: 1.75rem;
    width: 1.75rem;
  }
}


  a {
    color: #37A39E;
  
    &.btn {
      &.btn-primary {
        background: #37A39E;
        border-color: #37A39E;
        &:hover{
          background: darken(#37A39E, 3);
        }
      }
    }
    &.h-primary-outline {
      color: initial;
      &:hover {
        & > .card {
          border-color: #37A39E;
        }
      }
    }
  }
  
  
  .card {
    border-color: rgba(#3A3A3A);
    background-color:#058ea7;
  }
  
  .dropdown-usrn {
    margin-top: 0.25rem;
  }
  
  
  #sidebar-toggle {
    display: none;
  }
  
  #sidebar {
    background: #058ea7;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding-left: 0;
    svg {
      max-width: 20px;
      margin-right: 2px;
      stroke: lighten(#3A3A3A);
    }
    ul {
      li {
        a {
          color: #ffffff;
          border-left: 3px solid transparent;
          padding-top: 0.7rem;
          padding-bottom: 0.7rem;
          &.active {
            border-left: 3px solid #6FD1CD;
          }
        }
      }
    }
  }
  
  table {
    tbody {
      tr {
        td {
          vertical-align: middle;
        }
      }
    }
  }
  
  .row-stats {
    a {
      text-decoration: none;
      svg {
        fill: #3A3A3A;
      }
    }
  }
  
  .search-group {
    position: relative;
    svg {
      position: absolute;
      top: 10px;
      left: 10px;
    }
    input {
      padding-left: 40px;
    }
  }
  
  .page-link {
    color:  #37A39E;
  }

  @media (max-width: 575.98px) {
  }
  
  
  @media (max-width: 767.98px) {
    .dropdown-usrn {
      display: none;
    }
    .search-group {
      margin: 15px 0;
    }
    .row-stats {
      a {
        display: block;
      }
    }
    .mb-2-sm {
      margin-bottom: 20px !important;
    }
    #sidebar-toggle {
      background:  #37A39E;
      display: inline-block;
      position: absolute;
      left: 6px;
      z-index: 99999;
      top: 15px;
      color: #fff;
      width: auto;
    }
    .search-group {
      margin-left: 40px;
    }
  }
  
  
  @media (max-width: 991.98px) {
  }
  
  @media (max-width: 1199.98px) {
  }
  
  @media (max-width: 1399.98px) {
  }
 .profileImage img{
border-radius: 50%;
 }