<div class="main">
  <div class="containerBody">
    <h1 class="txt text-center">Lecturers Details</h1>

    <div class="toolbar mt-4">
      <div class="add-lecturer mb-3">
        <button type="button" class="btn btn-outline-success btn-lg" (click)="openModal()">
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368">
            <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" />
          </svg>Add Lecturer</button>
      </div>
      <div class="search-lecturer">
        <input type="search" class="form-control" placeholder="Search Lecturer"
          (input)="searchLecturers(searchInput.value)" #searchInput />
      </div>
     
    </div>

    <hr id="line"/>
    <div class="lecturer black-border mt-4">
      <div class="row">
        <div *ngIf="filteredLecturers.length > 0; else noLecturers" class="d-flex flex-wrap">
          <div class="col-md-4 mb-4" *ngFor="let lecturer of filteredLecturers">
            <div class="card h-50 w-75 m-5">
              <div class="card-body text-center">
                <img [src]="lecturer.image || 'https://via.placeholder.com/150'" alt="Profile Image"
                  class="img-thumbnail mb-3" style="width: 100px; height: 100px; border-radius: 50px;" />

                <h5 class="card-title">{{ lecturer.firstName }} {{ lecturer.lastName }}</h5>
                <p class="card-text">Lecturer ID: {{ lecturer.usersId }}</p>

              </div>
              <hr>
              <div class="d-flex justify-content-center" type="button" (click)="deleteSaff(lecturer.id)">
                <mat-icon>delete</mat-icon>
              </div>
              <button class="bg-dark text-white" mat-raised-button (click)="goToLecturerCv(lecturer.id)">More info</button>
            </div>
          </div>
        </div>

        <!-- No Lecturer message -->
        <ng-template #noLecturers>
          <div class="col text-center">
            <span class="text-secondary fs-2 fw-bold fst-italic">There Are No Lecturer Details Here</span>
          </div>
        </ng-template>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="lecturerDetailsModal" tabindex="-1" aria-labelledby="lecturerDetailsModalLabel"
    aria-hidden="true" [ngClass]="{ show: isModalOpen }" style="display: block;" *ngIf="isModalOpen">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="lecturerDetailsModalLabel">Add Lecturer Details</h5>
          <button type="button" class="btn-close" (click)="closeModal()"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="lecturerForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-12">
                <div *ngFor="let field of lecturerFields" class="mb-3">
                  <label for="field.controlName" class="form-label">{{ field.label }}</label>
                  <input *ngIf="field.type !== 'select'" type="{{ field.type || 'text' }}" class="form-control"
                    formControlName="{{ field.controlName }}" placeholder="{{ field.placeholder }}" />

                  <select *ngIf="field.type === 'select'" formControlName="{{ field.controlName }}"
                    class="form-control">
                    <option *ngFor="let option of field.options" [value]="option.value">{{ option.label }}</option>
                  </select>

                  <div *ngIf="isInvalid(field.controlName)" class="text-danger">
                    <small>{{ field.controlName | uppercase }} is required!</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>

</div>
<div>
  <router-outlet>

  </router-outlet>
</div>