 
  <div class="main">
    <div class="containerBody">
      <h1 class="text-danger text-center">Employee Details</h1>
      <button class="btn bg-dark dtail-btn text-white" routerLink="/employeedata">Information Details Of Employee</button>
  
      <div class="toolbar mt-4">
        <div class="add-employee mb-3">
          <button type="button" class="btn btn-outline-success btn-lg" (click)="openModal()">Add Employee</button>
        </div>
        <div class="search-employees">
          <input
            type="search"
            class="form-control"
            placeholder="Search Employees"
            (input)="searchEmployees(searchInput.value)"
            #searchInput
          />
        </div>
      </div>
  
      <hr />
  
      <div class="employees black-border mt-4">
        <div class="row">
          <div *ngIf="filteredUsers.length > 0; else noEmployees" class="d-flex flex-wrap">
            <!-- Iterate through employees -->
            <div class="col-md-4 mb-4" *ngFor="let employee of filteredUsers">
              <div class="card h-100 w-75">
                <div class="card-body text-center">
                  <img
                    [src]="employee.profile || 'https://via.placeholder.com/150'"
                    alt="Profile Image"
                    class="img-thumbnail mb-3"
                    style="width: 100px; height: 100px; border-radius: 50px;"
                  />
                  <h5 class="card-title">{{ employee.firstName }} {{ employee.lastName }}</h5>
                  <p class="card-text">User ID: {{ employee.userId }}</p>
                  <p class="card-text">NIC: {{ employee.nic }}</p>
                  <p class="card-text">Email: {{employee.email}}</p>
                </div>
                <button class="bg-dark text-white">More Info</button>
              </div>
            </div>
          </div>
  
          <!-- No employees message -->
          <ng-template #noEmployees>
            <div class="col text-center">
              <span class="text-secondary fs-2 fw-bold fst-italic">There Are No Employee Details Here</span>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  
    <!-- Modal -->
    <div
      class="modal fade"
      id="employeeDetailsModal"
      tabindex="-1"
      aria-labelledby="employeeDetailsModalLabel"
      aria-hidden="true"
      [ngClass]="{ show: isModalOpen }"
      style="display: block;"
      *ngIf="isModalOpen"
    >
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="employeeDetailsModalLabel">Add Employee Details</h5>
            <button type="button" class="btn-close" (click)="closeModal()"></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-md-6 mb-3" *ngFor="let field of employeeFields">
                  <label [for]="field.controlName" class="form-label">{{ field.label }}</label>
                  <input
                    [type]="field.type || 'text'"
                    class="form-control"
                    [id]="field.controlName"
                    [formControlName]="field.controlName"
                    [placeholder]="field.placeholder || ''"
                  />
                  <small *ngIf="isInvalid(field.controlName)" class="text-danger">
                    * {{ field.label }} is required.
                  </small>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="cancel()">Close</button>
                <button type="submit" class="btn btn-primary" [disabled]="employeeForm.invalid">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div>
    <router-outlet></router-outlet>
  </div>

