<div class="box">
  <h1>Staff Attendance</h1>

  <!-- Tab Selection -->
  

  <!-- Staff Attendance Counts -->
  <div style="border: 3px solid rgb(18, 90, 123) ;float: inline-start;">
    <p>Present: {{ presentCount }}</p>
    <p>Absent: {{ absentCount }}</p>
    <p>Latecome: {{ latecomeCount }}</p>
  </div>

  <!-- Search Bar -->
  <input [(ngModel)]="searchQuery" (input)="applySearch()" placeholder="Search by Name or ID">

  <!-- Staff Attendance Table -->
  <table mat-table [dataSource]="staffData">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let row"> {{row.user_Id}} </td>
    </ng-container>
  
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let row"> {{row.name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef> Role </th>
      <td mat-cell *matCellDef="let row"> {{row.role}} </td>
    </ng-container>
  
    <ng-container matColumnDef="inTime">
      <th mat-header-cell *matHeaderCellDef> In Time </th>
      <td mat-cell *matCellDef="let row"> {{row.inTime}} </td>
    </ng-container>
  
    <ng-container matColumnDef="outTime">
      <th mat-header-cell *matHeaderCellDef> Out Time </th>
      <td mat-cell *matCellDef="let row"> {{row.outTime}} </td>
    </ng-container>
  
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let row"> {{row.status}} </td>
    </ng-container>
  
    <ng-container matColumnDef="active">
      <th mat-header-cell *matHeaderCellDef> Active </th>
      <td mat-cell *matCellDef="let row">
        <button mat-button (click)="addUserAttendance(row.userId)">
          Add Attendance
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="report">
      <th mat-header-cell *matHeaderCellDef>Report</th>
      <td mat-cell *matCellDef="let element">
        <button (click)=" goTorRangeReport(element.userId)" class=".buttonbox">Go to Range Report</button>
        <button (click)="goToDayReport(element.userId)" class=".buttonbox">Go to Day Report</button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="staffDisplayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: staffDisplayedColumns;"></tr>
  </table>

  <!-- Save Button -->
  <button mat-button (click)="saveAttendance()">Save Attendance</button>
</div>