<div class="attendance-container">
    <div class="top-section">
      <button mat-raised-button color="primary" (click)="navigateTo('student-attendance')">Student Attendance</button>
      <button mat-raised-button color="accent" (click)="navigateTo('staff-attendance')">Staff Attendance</button>
      <button mat-raised-button color="warn" (click)="navigateTo('employee-attendance')">Employee Attendance</button>
      <button mat-raised-button color="primary" (click)="navigateTo('lecturer-attendance')">Lecturer Attendance</button>
    </div>      
</div>
<hr>
  