.containers{
 padding-left: 90px;
 background-color: rgb(225, 251, 255);
 height: auto;
}
/* Optional: Add custom styling here */
.container {
    max-width: 1000px;
  }
  .navbar{
    padding-left: 250px;
   
  }
  
  table th, table td {
    text-align: center;
  }

 
 
/* Optional styling for the dropdown and buttons */
select.form-select {
    width: 150px;
    margin-right: 10px;
  }
  
  button {
    margin-right: 5px;
  }
  
  button.btn-warning {
    background-color: #f0ad4e;
    color: white;
  }
  
  button.btn-success {
    background-color: #5cb85c;
    color: white;
  }
  
  button.btn-secondary {
    background-color: #6c757d;
    color: white;
  }
  